<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sign in</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
</head>


<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"><img src="/static/images/AdUrCupLogo.png" height="20px" alt="Adurcup Logo"></a>
        </div>
    </div>
  </nav>
<div class="container"> 
  <div class="col-md-4 col-md-offset-4">
    <h1 class="text-center">Sign in for Free Wi-Fi</h1>
      <form class="form-signin" action="/login_portal/login/" method="POST">
    
        <h3 class="form-signin-heading">Please enter your mobile number</h3>
        <label for="mobile_number" class="sr-only">Mobile Number</label>
        {% csrf_token %}

        <input id="mobile_number" class="form-control input-lg" type="number" placeholder="Mobile Number" required autofocus name="mobile_number">
        


        <br>
        <button class="btn-lg btn-primary btn-block" type="submit" value="OK">Send OTP (One Time Password)</button>
      </form>

  </div>
</div>

</body>
</html>